header {
	.logo-section {
		.business-logo {
			width: 6.875rem;
		}

		.business-name {
			font-size: 4.688rem;
			margin-top: 1.25rem;
		}

		.business-info {
			font-size: 1.25rem;
		}

		.business-quoat {
			margin: 2.188rem 0 4.375rem 0;
			font-size: 2.5rem;
		}
	}

	nav {
		position: relative !important;
		.container-fluid {
			padding: 0;
			margin-bottom: 2.5rem;
			.navbar-collapse {
				width: 100% !important;
				.navbar-nav {
					width: 100%;
					height: 3rem;
					flex-direction: row;
					.nav-link {
						width: 14.125rem;
						font-size: 1.25rem;
					}
				}
			}
		}
	}

	.zig-zag-border {
		z-index: 3;
	}
}

.about-us-section {
	display: flex;
	flex-direction: row;
	gap: 5rem;

	.about-us-wrapper-left {
		margin-left: 60px;

		.about-us-title {
			font-size: 3rem;
			line-height: 54px;
		}
	}

	.about-us-wrapper-right {
		display: block;
		text-align: center;
		padding-right: 58px;
		color: #ffffff;
	}

	.about-us-discount-top {
		margin-top: 47px;
		padding: 0;
	}
}

.discount-section {
	display: none;
}

footer {
	height: 261px;
	font-size: 1rem;
	.icons{
		padding-top: 40px;
    .fa-facebook-f, .fa-instagram, .fa-twitter{
        padding-right: 30px;
        padding-left: 30px;
        font-size: 3.8rem;
    }
    }
	.footer-info{
		margin-top: 30px;
	}
	.footer-text{
        float: left;
    }
    .opening-hours{
        float: right;
		margin-top: 18.5px;
		margin-right: 8%;
    }
}

.cookie-box {
	flex-direction: row;
	gap: 66px;
	padding-top: 60px;
	padding-bottom: 70px;

	.cookie-text {
		font-size: 1.5rem;
		margin-top: 63px;
	}

	.cookie-wrapper {
		flex-direction: column;

		.cookie-btn {
			width: 200px;
			height: 50px;
		}
	}
}
