@import 'normalize';

/* 
Fonter:
Brödtext: font-family: 'Roboto Mono', monospace;
Rubriker och logo: font-family: 'Cinzel', serif;
Citat i header: font-family: 'Yellowtail', cursive; 
Discount text: font-family: 'Permanent Marker', cursive;
*/

/* Color variables */
$primary-color-light: #C2B89E;
$primary-color-dark: #46433A;
$secondary-color-light-green: #8CE1B6;
$secondary-color-medium-green: #7BC9A1;
$secondary-color-dark-green: #609D7E;
$secondary-color-yellow: #F2CC43;

// Header shadow variable
$text-shadow-header: 0px 4px 4px rgba(0, 0, 0, 0.25);


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #FFFFFF;
}

h1,
h3,
h4 {
    font-size: 1.5rem;
}

h2 {
    font-size: 0.75rem;
}

.zig-zag-border {
    fill: $secondary-color-medium-green;
}

// Header
header {
    background-color: $primary-color-dark;
    position: relative;

    .logo-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: $text-shadow-header;

        .business-logo {
            width: 6rem;
            margin-top: 3.75rem;
        }

        .business-name {
            margin: 0;
            margin-top: 0.625rem;
        }

        .business-quoat {
            margin: 1.25rem 0 1.875rem 0;
            font-family: 'Yellowtail', cursive;
            font-size: 1rem;
            color: $secondary-color-yellow;
            margin-top: 1.25rem;
        }
    }

    nav {
        position: fixed !important;
        top: 0;
        background-color: $primary-color-dark;
        width: 100%;
        z-index: 2;

        .container-fluid {
            .icon-toggle {
                height: 2.5rem;
                width: 2.5rem;
                border: none;
                outline: none;
                color: #FFFFFF;
                font-size: 2rem;

                .menu-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .icon-toggle[aria-expanded=false] .icon-expanded {
                display: none;
            }

            .icon-toggle[aria-expanded=true] .icon-collapsed {
                display: none;
            }
        }

        .navbar-collapse {

            .navbar-nav {
                height: 20rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                .nav-link {
                    text-align: center;
                    font-family: 'Cinzel', serif;
                    color: #FFFFFF;
                    font-size: 1.5rem;
                    text-shadow: $text-shadow-header;
                }
            }
        }
    }

    .zig-zag-border {
        position: absolute;
        bottom: -1px;
        z-index: 1;
    }
}

//about us + discount
.about-us-section {
    background-color: $secondary-color-medium-green;
    padding-left: 16px;
    padding-right: 15px;

    .about-us-wrapper-left {
        height: 50%;

        .about-us-title {
            color: #FFFFFF;
            display: inline-block;
            font-family: 'Cinzel';
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 48px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding-top: 28.89px;
        }

        .about-us-text {
            padding-top: 10px;
            padding-bottom: 45px;
            color: #46433A;
            font-weight: 400;
            line-height: 27px;
        }
    }

    .about-us-wrapper-right {
        display: none;
    }
}

.discount-section {
    background-color: #7BC9A1;
    text-align: center;
}

.about-us-discount-top {
    padding-top: 49px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-family: 'Permanent Marker';
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about-us-discount-bottom {
    padding-top: 36px;
    padding-bottom: 33px;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: 'Permanent Marker';
    font-weight: 400;
    line-height: 35px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mug-pic {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-duration: 4s;
    transition: 0.4s ease-in-out;
    transition-property: transform;
    animation-name: grow;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    //chrome, safari
    -webkit-transition-property: -webkit-transform;
    -webkit-animation-name: grow;
    -webkit-animation-duration: 4s;

    //mozilla firefox
    -moz-transition-property: -moz-transform;
    -moz-animation-name: grow;
    -moz-animation-duration: 4s;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

//popular drinks
.drinks-section {
    background-image: url("../img/coffee-pattern-background.png");
    background-color: rgba(247, 246, 243, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 15px 15px 20px;
}

.drinks-section-title {
    color: $primary-color-dark;
    text-transform: uppercase;
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 28.89px;
}

.drinks-name {
    margin-left: 25px;
    font-weight: bold;
}

//cookies
.cookie-box {
    background-color: $primary-color-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 68px;
    width: 90%;

    position: fixed;
    top: 30%;
    left: 5%;

    .cookie-text {
        color: $secondary-color-yellow;
        text-transform: uppercase;
        width: 50%;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 60px;
    }

    .cookie-wrapper {
        display: flex;
        gap: 23px;

        .cookie-btn {
            text-transform: uppercase;
            background-color: $secondary-color-light-green;
            color: #FFFFFF;
            border: 0;
            border-radius: 10px;
            font-size: 1rem;
            font-weight: 700;
            height: 38px;
            width: 120px;
            font-family: 'Roboto Mono';
        }
    }
}

//hidden class for pop-ups? 
.hidden {
    display: none;
}

//=================================================================================================
//-------------------------------------- @ MEDIA QUERIES ------------------------------------------
//=================================================================================================

//------------------------------------------- TABLET  ---------------------------------------------
@media screen and (min-width: 576px) {
    @import 'tablet';
}

//------------------------------------------- DESKTOP ---------------------------------------------
@media screen and (min-width: 834px) {
    @import 'desktop';
}

//------------------------------------------- DESKTOP LARGE ---------------------------------------
@media screen and (min-width: 1440px) {
    @import 'desktop-lg';
}